*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Open Sans', san-serif;
}

body{
    overflow-x: hidden !important;
}
header{
    height: 100vh;
    background-image: url('../images/jannes-glas-0NaQQsLWLkA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}
a.navlink{
    font-size: 1rem;
    display: inline-block;
}
a.navlink:hover{
    color: orange;
    text-decoration: underline;
}
.navbar{
    position: fixed;
    padding: 0 2rem;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    background-color:  #403c3c65;
    transition-duration: .5s;
}
.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    color: white;
    margin-left: 0;
}
section{
    height: 100vh;
}
.scrolled{
    background-color: #403c3cbc;

}
ul.logging{
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #1f1b1b;
    padding: 5px;
    
}
a{
    text-decoration: none;
    color: white;
}

.logging li{
    padding: 10px;
}