*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Open Sans', san-serif;
}

::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden !important;
}
header{
    height: 100vh;
    background-image: url('../images/jannes-glas-0NaQQsLWLkA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
}
li{
    list-style: none;
}
a.navlink{
    font-size: 1rem;
    display: inline-block;
}
a.navlink:hover{
    color: orange;
    text-decoration: underline;
}
.navbar{
    position: fixed;
    padding: 0 2rem;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    background-color:  #403c3c65;
    transition-duration: .5s;
}
.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action-btn{
    color: white;
    margin-left: 0;
}
.action-btn:hover{
    color: orange;
}
section{
    height: 150vh;
}
.scrolled{
    background-color: #403c3cbc;

}
ul.logging{
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #1f1b1b;
    padding: 5px;
    border-radius: 3px;
    
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: orange;
}

.logging li{
    padding: 10px;
}
.hidden{
    display: none;
}
.words{
    width: 50%;
    font-size: 6em;
    color: white;
    align-self: self-end;
    margin: 5px;
}
.ready{
    justify-self: right;
    align-self: center;
    color: white;
    font-size: 2.5em;
    width: 45%;
}
.sign{
    justify-self: right;
    align-self: self-end;
    width: 10vw;
    text-align: center;
}
button.signup{
    background-color: #1f1b1b;
    color: orange;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
button.signup:hover{
    background-color: orange;
    color: #1f1b1b;
    border: none;
}
button.signup:active{
    background-color: rgba(255, 166, 0, 0.326);
}
div.sectionmain{
    display: flex;
    height: 100%;
}
div.basketball{
    width: 20vw;
    height: 0;
    border-radius: 8px;
    align-self: center;
    border: black solid 2px;
}
img{
    object-fit: cover
}
footer{
    height: 75vh;
    background-color: #1f1b1b;
}